{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row mt-5">
        <h5>Edit data for:</h5>
        <h3>{{data.title}}</h3>
        <hr>
    </div>
    <form class="row g-3 mt-5" action="/" method="POST">
        <div class="col-md-1">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" name="id" value="{{data.id}}">
        </div>
        <div class="col-md-4">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" value="{{data.title}}">
        </div>
        <div class="col-md-1">
            <label for="year" class="form-label">Year</label>
            <input type="text" class="form-control" name="year" value="{{data.year}}">
        </div>
        <div class="col-md-1">
            <label for="rating" class="form-label">Rating</label>
            <input type="text" class="form-control" name="rating" value="{{data.rating}}">
        </div>
        <div class="col-md-3">
            <label for="genre" class="form-label">Genres</label>
            <input type="text" class="form-control" name="genre" value="{{data.genre}}">
        </div>
        {% if category == 'show' %}
        <div class="col-md-1">
            <label for="seasons" class="form-label">Seasons</label>
            <input type="text" class="form-control" name="seasons" value="{{data.seasons}}">
        </div>
        <div class="col-md-1">
            <label for="episodes" class="form-label">Episodes</label>
            <input type="text" class="form-control" name="episodes" value="{{data.episodes}}">
        </div>
        {% endif %}
        <div class="row mt-5">
            <div class="col-12">
                <div class="me-2" style="float: left;">
                    <input type="hidden" name="action" value="update">
                    <input type="hidden" name="category" value={{category}}>
                    <button type="submit" class="btn btn-success">Submit changes</button>
                </div>
                <div style="float: left;">
                    <input type="hidden" name="action" value="">
                    <button type="submit" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}