{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="modal fade" id="movie-add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a movie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="g-3 mt-3" action="/" method="POST">
            <div class="col-12">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" value="">
              <label for="year" class="form-label">Year</label>
              <input type="text" class="form-control" name="year" value="">
              <label for="rating" class="form-label">Rating</label>
              <input type="text" class="form-control" name="rating" value="">
              <label for="genre" class="form-label">Genres</label>
              <input type="text" class="form-control" name="genre" value="">
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <div class="me-2" style="float: left;">
                  <input type="hidden" name="action" value="add">
                  <input type="hidden" name="category" value="movie">
                  <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Submit changes</button>
                </div>
                <div style="float: left;">
                  <input type="hidden" name="action" value="">
                  <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="show-add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a show</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="g-3 mt-3" action="/" method="POST">
            <div class="col-12">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" value="">
              <label for="year" class="form-label">Year</label>
              <input type="text" class="form-control" name="year" value="">
              <label for="rating" class="form-label">Rating</label>
              <input type="text" class="form-control" name="rating" value="">
              <label for="genre" class="form-label">Genres</label>
              <input type="text" class="form-control" name="genre" value="">
              <label for="genre" class="form-label">Seasons</label>
              <input type="text" class="form-control" name="seasons" value="">
              <label for="genre" class="form-label">Episodes</label>
              <input type="text" class="form-control" name="episodes" value="">
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <div class="me-2" style="float: left;">
                  <input type="hidden" name="action" value="add">
                  <input type="hidden" name="category" value="show">
                  <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Submit changes</button>
                </div>
                <div style="float: left;">
                  <input type="hidden" name="action" value="">
                  <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end of modal -->
  <div class="row">
    <div class="mb-5 mt-2">
      <h1 class="text-center display-1">Movies and Shows DB</h1>
      <p class="text-center">A place for finding the most popular movies and shows</p>
    </div>
  </div>
  <form action="/" method="POST">
    <div class="row justify-content-center mb-5">
      <div class="col-sm-12 col-md-6">
        <div class="input-group">
          <input type="hidden" name="action" value="search">
          <input type="text" name="search" class="form-control" placeholder="Search..." value="" />
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <h1>Movies</h1>
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#movie-add-modal">
        Add a new movie</button>
    </div>
  </div>
  <div class="row justify-content-center">
    {% for item in movies %}
    <div class="col-md d-block mb-2 mt-3">
      <div class="card" style="max-width: 300px; min-width: 300px; max-height: 300px; min-height: 300px;">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <hr>
          <p class="card-text">Year: {{item.year}}</p>
          <hr>
          <p class="card-text">Rating: {{item.rating}}</p>
          <hr>
          <p class="card-text">Genres: {{item.genre}}</p>
        </div>
        <div class="ms-3 me-3 mb-2">
          <form action="{{url_for('index')}}" method="POST">
            <input type="hidden" name="action" value="remove">
            <input type="hidden" name="category" value="movie">
            <input type="hidden" name="id" value={{item.id}}>
            <button type="submit" class="btn btn-danger"
              style="display: inline; float: left; width: 40%; ">Delete</button>
          </form>
          <form action="/edit/{{item.id}}" method="POST">
            <input type="hidden" name="category" value="movie">
            <button type="submit" class="btn btn-success"
              style="display: inline; float: right; width: 40%;">Edit</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <hr class="mt-5">
    <h1 class="mt-5">Shows</h1>
    <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show-add-modal">Add a new
        show</button></div>
    <div class="row justify-content-center">
      {% for item in shows %}
      <div class="col-md d-block mb-2 mt-3">
        <div class="card" style="max-width: 300px; min-width: 300px; max-height: 400px; min-height: 400px;">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <hr>
            <p class="card-text">Year: {{item.year}}</p>
            <hr>
            <p class="card-text">Rating: {{item.rating}}</p>
            <hr>
            <p class="card-text">Genres: {{item.genre}}</p>
            <hr>
            <p class="card-text">Seasons: {{item.seasons}}</p>
            <p class="card-text">Episodes: {{item.episodes}}</p>
          </div>
          <div class="ms-3 me-3 mb-2">
            <form action="{{url_for('index')}}" method="POST">
              <input type="hidden" name="action" value="remove">
              <input type="hidden" name="category" value="show">
              <input type="hidden" name="id" value={{item.id}}>
              <button type="submit" class="btn btn-danger"
                style="display: inline; float: left; width: 40%; ">Delete</button>
            </form>
            <form action="/edit/{{item.id}}" method="POST">
              <input type="hidden" name="category" value="show">
              <button type="submit" class="btn btn-success"
                style="display: inline; float: right; width: 40%;">Edit</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}