<!DOCTYPE html>
<html>

<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>
    <div class="topnav">
        <div class="search-container">
            <form class="search-form" method="GET">
                <input type="text" placeholder="Paieška.." name="q">
                <input type="image" name="submit"
                src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-1024.png" border="0"
                alt="Submit" style="width: 2.5rem;" />
            </form>
        </div>
    </div>
    <div>
        <div class=row>
            {% for product in products.items %}
            <div class="column">
                <a href={{product.link}}>
                    <div class="card">
                        {{product.title}}
                        <div class="price">
                            {{product.price}}
                        </div>
                        <div>
                            <img src={{product.image}} alt=""
                                style="position: relative; max-width: 100%; height: auto;">
                        </div>
                </a>
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
        {% for page_num in products.iter_pages() %}
            {% if page_num %}

                <a class="btn-pagination" href="{{ url_for('search', page=page_num) }}">{{ page_num }}</a>

            {% else %}
                <a>...</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</body>

</html>